.google {
  --focus: #ff0000;
  --node: #4285f4;
  --group: #0f9d58;
  --link: #dba100;
  --text: #ffffff;
  --border: #e3e3e3;
  --placeholder: #bbbbbb;
}

body {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
}

.architype {
  width: 100%;
  height: 100%;
  font-family: 'Courier', monospace;
}

.editor {
  color: var(--text);

  list-style: none;

  margin: 0;
  padding: 0;

  height: 100%;
  width: 400px;

  overflow-y: scroll;
}

.editor:focus {
  outline: none;
}

.editor li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  white-space: pre;

  box-sizing: border-box;
  width: 100%;
  padding: 3px;
  border: 5px solid;

  cursor: default;
}

.editor li.node {
  background-color: var(--node);
  border-color: var(--node);
}

.editor li.node.error {
  background: repeating-linear-gradient(
                  -45deg,
                  rgba(255,255,255,0.15) 0 10px,
                  rgba(0,0,0,0.15) 10px 20px),
              var(--node);
}

.editor li.group {
  background-color: var(--group);
  border-color: var(--group);
}

.editor li.link {
  background-color: var(--link);
  border-color: var(--link);
}
.editor li:focus {
  border-color: var(--focus) !important;
  outline: none;
}

.editor li input {
  background-color: rgba(255,255,255,0.2);
  border: 3px solid var(--border);
  padding: 4px;
  font-family: 'Courier', monospace;
  color: var(--text);
  width: 200px;
}

.editor li input::-webkit-input-placeholder {
  color: var(--placeholder);
}

.editor li input:focus {
  border-color: var(--focus);
  outline: none;
}

.editor .editor {
  margin: 5px;
}
